.red {
    color: red;
}

.green {
    color: green
}

/* .getActivity {
    text-align: center;
    color: Green;
} */
.getActivity-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.getActivity-link {
    color: #61dafb;
}

@keyframes getActivity-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}